
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.osintvault">

    <application
        android:allowBackup="true"
        android:label="OSINT Vault"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".InstitutionActivity" />
        <activity android:name=".PersonActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
